.layout
  width: 100vw
  height: 100%
  display: grid
  //  grid-template-rows:'10vh 5vh 100% 50vh'
  grid-template-areas: "localheader" "localnav" "localcontent" "localfooter"

.layout .localheader
  width: 100%
  grid-area: localheader

.layout .localnav
  width: 100%
  grid-area: localnav

.layout .localcontent
  width: 100%
  grid-area: localcontent
  // box-sizing: content-box

.layout .localfooter
  width: 100%
  grid-area: localfooter
