footer
  width: 100%
  background: #673AB7
  display: flex
  flex-direction: column
  justify-content: space-around
  padding: 20px
  text-align: center
  font-family: 'Roboto Mono', monospac
  color: #fff

  h3
     font-size: 1.4rem

  .container
    display: flex
    flex-direction: row
    justify-content: space-aroun
    ul
      padding: 0
    li
      list-style: none

    .container-one
      min-width: 29%
      min-height: 40vh

    .container-two
      min-width: 23%
      min-height: 40vh

    .container-tree
      min-width: 23%
      min-height: 40vh

    .container-four
      min-width: 23%
      max-height: 40vh

  .developed
    align-self: center
    text-align: center


//media 320
@media only screen and (max-width:320px)
  footer
    width: 100%
    display: flex
    flex-direction: column
    justify-content: space-around
    background: #673AB7
    color: #fff
    font-size: 0.4rem
    font-family: 'Roboto Mono', monospace
    word-wrap: break-word
    h1,h2,h3, h4, h5
      font-size: 1.0rem
    .container
      width: 90%
      display: flex
      flex-direction: colum
      ul
        padding: 0
      li
        list-style: none

      .container-one
        min-width: 100%
        min-height: 20%

      .container-two
        display: none

      .container-tree
        min-width: 100%
        min-height: 20%

      .container-four
        min-width: 100%
        max-height: 20%




//media 425
@media only screen and (max-width:420px)
  footer
    width: 100%
    display: flex
    flex-direction: column
    justify-content: space-around
    background: #673AB7
    color: #fff
    font-size: clamp(0.4rem, 0.5rem + 1vw, 1.4rem)
    font-family: 'Roboto Mono', monospace
    word-wrap: break-word
    h3, h4, h5
      font-size: clamp(0.5rem, 0.8rem + 1vw, 1.4rem)
    .container
      width: 90%
      display: flex
      flex-direction: colum
      ul
        padding: 0
      li
        list-style: none

      .container-one
        min-width: 100%
        min-height: 20%

      .container-two
        display: none

      .container-tree
        min-width: 100%
        min-height: 20%

      .container-four
        min-width: 100%
        max-height: 20%


//media 768
@media only screen and (max-width:768px)
  footer
    width: 100%
    display: flex
    flex-direction: column
    justify-content: space-around
    background: #673AB7
    color: #fff
    font-size: 1.4rem
    font-family: 'Roboto Mono', monospace
    word-wrap: break-word
    h3, h4, h5
      font-size: clamp(0.5rem, 0.8rem + 1vw, 1.4rem)
    .container
      width: 90%
      display: flex
      flex-direction: colum
      ul
        padding: 0
      li
        list-style: none

      .container-one
        min-width: 100%
        min-height: 20%

      .container-two
        display: none

      .container-tree
        min-width: 100%
        min-height: 20%

      .container-four
        min-width: 100%
        max-height: 20%


