<div class="card-container" [ngStyle]="{width: cardContWidth, height: cardContHeight}">
  <div class="card" [ngStyle]="{width: corpoCardWidth, height: corpoCardHeight}">
    <div class="cardicon"></div>

    <div class="ribborn">
      <div class="ribbornContent" [ngStyle]="{background: cor}">
        <div class="header">
          <h2>{{title|lowercase}}</h2>
        </div>
        <div class="ribbornSideMedium" [ngStyle]="{background: cor}"></div>
      </div>
    </div>

    <div class="profile">
      <img [src]="profile" alt="">
    </div>

    <div class="body">
      {{content}}
    </div>

    <div class="buttonx">
      <button [ngStyle]="{background: cor}">learn more</button>
    </div>
  </div>
</div>
