<div class="home-conatainer">
  <section class="section-one">
    <div class="imagem">
      <img [src]="imagemAcai" alt="">
    </div>
    <div class="conteudo">
      <h1>Qualquer coisa</h1>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab quod illum asperiores modi corporis qui sint
        dolores,
        velit unde alias atque dolor quia, dolore perspiciatis, quae nam! Nobis, nesciunt optio.
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iste ab quis eaque sequi officiis eligendi, et
        nesciunt
        ipsam officia iusto voluptatum quasi reprehenderit ea, modi deserunt laborum dignissimos culpa odit?</p>
    </div>
  </section>
  <section class="section-two">

    <!-- card de combos -->
    <div class="info">
      <h1>Nossos Combos</h1>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima sint alias praesentium tenetur hic velit aut,
        quaerat atque eligendi magnam. Molestias rem praesentium cumque beatae alias? Commodi facere nemo ipsa!</p>
    </div>

    <div class="container-cards">
      <app-card-riborn></app-card-riborn>
      <app-card-riborn></app-card-riborn>
      <app-card-riborn></app-card-riborn>
    </div>


  </section>
</div>
