<mat-toolbar class="toolbarHeader" [ngStyle]="{'height': alturaDefault+'vh'}" color="primary">
  <mat-icon class="item item-menu">menu</mat-icon>
  <span class="item">{{logoDefault}}</span>
  <span class="example-spacer"></span>

  <a [routerLink]="['/']">
    <mat-icon class="item">home</mat-icon>
  </a>

  <a routerLink="">
    <mat-icon class="item">favorite</mat-icon>
  </a>

  <a routerLink="">
    <mat-icon class="item">shop cart</mat-icon>
  </a>

  <a routerLink="/home-logado">
    <mat-icon class="item">login</mat-icon>
  </a>

</mat-toolbar>
