<mat-toolbar [ngStyle]="{'height': alturaDefault+'vh'}" class="toolbarHeader" color="primary">
  <mat-icon class="item item-menu">menu</mat-icon>
  <span class="item">{{logoDefault}}</span> <!-- [ngStyle]="{'font-family': 'Sansita Swashed, cursive'}" -->
  <span class="example-spacer"></span>
  <mat-icon class="item">favorite</mat-icon>
  <mat-icon class="item">favorite</mat-icon>
  <mat-icon class="item">favorite</mat-icon>
  <mat-icon class="item">favorite</mat-icon>
  <mat-icon class="item">login</mat-icon>
</mat-toolbar>
